aws_region           = "us-east-1"
app_name             = "simple-app"
vpc_cidr             = "10.0.0.0/16"
public_subnet_cidrs  = ["10.0.1.0/24", "10.0.2.0/24"]
availability_zones   = ["us-east-1a", "us-east-1b"]
ami_id               = ""
instance_type        = "t2.micro"
key_name             = "default"
app_port             = 3000
health_check_path    = "/"
asg_min_size         = 2
asg_max_size         = 5
asg_desired_capacity = 2
github_repo_url      = "https://github.com/repo"
ssh_allowed_cidr     = ["0.0.0.0/0"]
node_version         = "20.17.0"